.container_topik {
  height: 50px;
}

.container_artikel {
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-top: 12px;
  padding-right: 150px;
}

.topik_link {
  text-decoration: none;
  color: #f31559;
}

.isi_artikel_container{
  margin-top: 150px !important;
}

.button_artikel_banyak {
  border-radius: 20px;
  border: none !important;
  background-color: #f31559 !important;
  font-family: Montserrat !important;
  font-weight: 600 !important;
}

.button_artikel_banyak:hover {
  background-color: #b30c3e !important;
}

.bg_topik {
  background: #fbe5e5;
  border-radius: 10px;
  padding-top: 5px;
  margin-right: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
}

.shadow_artikel {
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0px rgba(134, 134, 134, 0.5);
}

.image_artikel {
  height: 220px;
  width: 100%;
  border-radius: 10px;
}

.holder {
  border-radius: 20px;
}

.content {
  text-align: center;
  margin-top: 5px;
}

.artikel_terbaru {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc_artikel{
  font-family: Montserrat !important;
}