@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;700&display=swap");

.supportImg {
  background: #fbe5e5;
  border-radius: 100%;
  padding: 25px;
}

.image_dokter {
  object-fit: cover;
  width: 100%;
}

.foto-dokter {
  height: 380px;
  width: 90%;
  margin-left: 20px;
  align-items: center;
}

.card-box-dokter {
  width: 350px;
  height: 520px;
  border-radius: 10px;
  background: var(--default, #fff);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.card-image-dokter {
  width: 350px;
  height: 404px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(144deg, #f31559 -7.86%, #fbe5e5 98.78%);
}

.name-dokter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: var(--teks-primary);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.card-bungkus-dokter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.box_title h1 {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

.box_desc h1 {
  font-size: 20px;
  text-align: center;
}

.title_services h1 {
  color: #f31559;
  font-size: 20px;
  text-align: center;
  font-family: Montserrat;
}

.desc_services h1 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  font-family: Montserrat;
}

.dokterImg {
  background: #f31559;
  background: linear-gradient(120deg, #f31559, rgb(253, 246, 246));
}

.namaDokter {
  color: #061d4a;
}

.button_dokter {
  background: #f31559;
  color: white;
  font-weight: bold;
  padding: 8px 70px;
  border: none;
  border-radius: 10px;
}

.square {
  height: 120px;
  width: 100%;
  background: #f31559;
  transform: translateY(-100px);
  display: flex;
  justify-content: end; 
  align-items: end;
}

.carousel_card{
  height: 400px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 20px 5px rgba(134, 134, 134, 0.5);
}

.image_review_left{
  transform: translateY(450px);
}

.image_review{
  transform: translateX(-200px);
}

.reviewImg {
  border-radius: 5%;
  width: 150px;
  height: 150px;
}

.reviewCard {
  padding: 30px;
}

.title_artikel {
  color: #061d4a;
  font-weight: 600;
  font-family: Montserrat;
}

.shadow_card {
  box-shadow: 0 0 15px 0px rgba(134, 134, 134, 0.5);
}

.shadow_box {
  background: white;
  box-shadow: 13px 4px 20px 1px rgba(134, 134, 134, 0.5);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 90px;
}

.starr {
  color: #f1e805;
}

.starrBlack {
  color: #d9d9d9;
}

.linkArtikel {
  color: #061d4a;
  font-family: Montserrat;
}

.linkArtikel:hover {
  cursor: pointer;
}

.title_box {
  text-align: center;
  font-size: 50px;
}

.desc_box {
  text-align: center;
  font-size: 25px;
  font-family: Montserrat !important;
}

.button_dokter {
  border-radius: 10px;
  border: none !important;
  background: var(--primary) !important;
  font-family: Montserrat !important;
  font-weight: 500 !important;
}

.title_art{
  font-family: Montserrat !important;
}

.image_support{
  width: 55px;
  height: 55px;
}