@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;700&display=swap');
.card-profile{
    width: auto;
    

}
.card-data-profile{
    /* display: flex; */
    /* position: relative; */
    width: 353px;
height: 592px;
border-radius: 5px;
background: #F7F7F7;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

}

.card-img{
   display: flex;
   justify-content: center;
align-items: center;
}

.pp-img{
width: 165px;
height: 165px;
display: flex;
background-color: #F7F7F7;
border-radius: 99px;
 border: 4px solid #061D4A;
}
.edit-img{
width: 34px ;
height: 34px;
background-color: #F31559 !important;
position: absolute;
margin-top: 120px;
margin-left: 110px;
border-radius: 99px !important;
border: none !important;
display: flex !important;
align-items: center !important;
justify-content: center !important;
color: #F7F7F7;
}

.name{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: var(--teks-primary, #061D4A);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.status{
color: #000;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.profil-saya > a{

 color: #061D4A;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-decoration: none;
}

.janji-saya > a{
color: #F31559 ;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-decoration: none;
}






.card-data-profile-2{
    margin-left: 410px;
    position: absolute;
    margin-top: -590px;
    width: 839px;
}
.card-profile-ubah{
    background-color: #061D4A;
}
.Profil-saya-2{
    color:  #061D4A;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 600;
}




.card-data-profile-3{
   
 width: 839px;
height: 465px;
border-radius: 5px;
background: #F7F7F7;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.costum-tab.active{
  color: #F7F7F7 !important;  
  border-radius: 75px !important;
background:  #061D4A !important;
}
.costum-tab{
color: #061D4A !important;   
border-radius: 75px !important;
border: 1px solid  #061D4A !important;
}