.bg_login{
    background: #F31559;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    border-radius: 10%;
}

.bg_login:hover{
    background: white;
    color: #F31559;
}

.page:hover{
    color: #F31559;
}

.navbar_main{
    position: fixed;
    width: 100%;
}