@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;700&display=swap');

:root {
  --primary: #f31559;
  --teks-primary: #061d4a;
}

.bg-body {
  background: linear-gradient(0deg, #fbe5e5 0%, rgba(255, 255, 255, 0) 114.56%);
}

.card-live {
  border-radius: 15px;
  background: var(--background, #f7f7f7);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.card-live-2 {
  height: 85px;
  border-radius: 15px 15px 0 0;
  background: var(--background, #f7f7f7);
  background: linear-gradient(180deg, rgba(243, 21, 89, 0.9) 0%, rgba(251, 229, 229, 0.9) 100%);
}

.img-dokter {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: var(--background, #f7f7f7);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.nama-dokter {
  margin-top: -80px;
  margin-left: 90px;
  color: var(--teks-primary, #061d4a);
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

.online {
  margin-left: 90px;
  color: var(--teks-primary, #061d4a);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.btn-akhir {
  float: right;
  margin-top: -70px;
  width: 90px !important;
  border-radius: 10px !important;
  background: var(--primary, #f31559) !important;
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.25);
  color: var(--background, #f7f7f7) !important;
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.btn-akhir {
  border: none !important;
}

.card-chat-user {
  background-color: #fbe5e5;
  border-radius: 15px 0 30px 15px;
  margin-left: auto;
}

.pesan-chat-user {
  color: var(--teks-primary, #061d4a);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.card-chat-dokter {
  background-color: #f31559;
  border-radius: 0px 15px 15px 30px;
}

.pesan-chat-dokter {
  color: #f7f7f7;
  /* text-align: center; */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

/* ... (kode CSS sebelumnya) */

.chat-container {
  height: 500px;
  max-width: max-content;
  overflow-y: auto; /* Aktifkan pen-scroll-an vertikal */
}

.card-kirim {
  background: #f7f7f7;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
}

.costum-icon {
  font-size: 50px;
}

.btn {
  border: none !important;
}

.costum-text:active,
.costum-text:focus {
  box-shadow: none !important;
  border: 1px solid #bebebe !important;
}

@media (max-width: 768px) {
  .nama-dokter {
    font-size: 15px;
  }

  .btn-akhir {
    margin-top: -50px;
    width: auto !important;
  }
  
  .chat-container {
    height: 420px;
    max-height: none;
    /* Aktifkan pen-scroll-an vertikal */
  }
}