@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;700&display=swap');

:root {
  --primary: #f31559;
  --teks-primary: #061d4a;
}

.bg-boxs {
  display: flex;
  background: linear-gradient(0deg, #fbe5e5 0%, rgba(255, 255, 255, 0) 114.56%);
}

.judul-title {
  color: #000;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.logo-cervicare {
  width: 250px;
  height: 56px;
}

.boxs-layanan {
  width: 590px;
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.button_mulai {
  border-radius: 20px;
  border: none !important;
  background-color: #f31559 !important;
  /* box-shadow: 0px 0px 10px 0px #f31559; */
}

.button_mulai:hover {
  background-color: #c6053f !important;
}

.foto-docter {
  height: 533px;
  margin-top: -330px;
  float: right;
  position: relative;
}

.bg-boxs-2 {
  height: 144px;
  margin-top: -144px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.card-ceritakan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-merah {
  color: var(--primary);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.title-deskripsi {
  color: var(--teks-primary);
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}

.text-title-chat-live {
  color: var(--teks-primary);
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.card-bungkus-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-image {
  width: 335px;
  height: 468px;
  border-radius: 10px;
  background: var(--default, #fff);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.bg-detail-dokter {
  margin-top: 10px;
  width: 260px;
  height: 290px;
  border-radius: 10px;
  background: linear-gradient(144deg, #f31559 -7.86%, #fbe5e5 98.78%);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.name-dok {
  font-size: 22px;
  font-family: Montserrat;
  font-weight: 700;
  margin-top: 20px;
}

.harga_dokter {
  font-family: Montserrat;
  font-weight: 100;
  font-size: 30px;
}

.bg-status {
  height: 30px !important;
  width: 150px !important;
  background: #00d22e;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  margin-left: 10px;
}

.box_modals_detail {
  transform: translateY(200px) !important;
  max-width: 32vw !important;
}

.box_modals_detail div {
  border-radius: 20px !important;
}

.fa-stars {
  color: #ffe500 !important;
}

.text-1 {
  font-weight: 700;
}

.text-2 {
  color: #f31559;
  font-weight: 700;
}

.container_verification {
  gap: 35px;
}

.character_verification {
  font-size: 30px;
  border: none;
  /* background: #D9D9D9; */
  color: red;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
}

.title_verif{
  font-weight: 600;
}

.box_modals_input_telepon {
  transform: translateY(240px) !important;
  max-width: 40vw !important;
}

.box_modals_input_telepon div {
  border-radius: 20px !important;
}

.dropdown_country {
  height: 200px !important;
}

.input_telepon {
  width: 500px !important;
  height: 50px !important;
  border-radius: 20px !important;
  margin-left: 30px !important;
  padding: 20px !important;
  font-size: 19px !important;
  border-color: red !important;
  transform: translateX(30px) !important;
}

.input_telepon:active,
.input_telepon:focus {
  box-shadow: 0 0 0 0.2rem rgba(199, 0, 57, 0.25) !important;
}

.whatsapp-icon {
  background: rgb(4, 187, 4);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding-top: 14px;
}

.title_telepon {
  font-weight: 600;
}

.envelope-icon {
  background: linear-gradient(80deg, rgb(4, 187, 4), rgb(93, 161, 238));
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding-top: 18px;
}

.hint_telepon {
  color: red;
  transform: translateX(30px);
}

.close_modals_input_telepon {
  display: flex;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.25);
  transform: translateX(665px);
}

.close_modals_input_telepon:hover {
  cursor: pointer;
}

.detail_title_desc h1 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
}

.close_modals_detail {
  display: flex;
  justify-content: center;
  font-size: 40px !important;
  font-weight: 100 !important;
  width: 58px;
  height: 58px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.25);
  transform: translateX(60px);
}

.close_modals_detail:hover {
  cursor: pointer;
}

.card-image:hover {
  cursor: pointer;
}

.card-image-bayanan {
  width: 335px;
  height: 348px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(144deg, #f31559 -7.86%, #fbe5e5 98.78%);
}

.foto-img {
  height: 324px;
}

.name-docter {
  color: var(--teks-primary);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.name-docter:hover {
  color: var(--primary);
  transition: 0.1s;
}

.name-spesialis {
  color: var(--teks-primary);
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.review {
  color: #958c8c;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.fa-star {
  color: #f68924;
}

.button-banyak {
  border-radius: 10px;
  border: none !important;
  background: var(--primary) !important;
  font-family: Montserrat !important;
  font-weight: 500 !important;
}

.button-banyak:hover {
  background-color: #e40447 !important;
}

@media (max-width: 768px) {
  .foto-docter {
    width: 100%; /* Menggunakan lebar 100% untuk responsif */
    height: auto; /* Untuk memastikan aspek rasio gambar tetap terjaga */
    margin-top: -10px; /* Atur sesuai kebutuhan */
    margin-left: 0; /* Reset margin kiri */
  }

  .boxs-layanan {
    width: 100%; /* Menyesuaikan lebar pada resolusi mobile */
    margin-top: 20px; /* Atur sesuai kebutuhan */
  }

  .button_mulai {
    margin-top: 20px; /* Atur sesuai kebutuhan */
  }
}

.modalstext {
  text-align: center;
  font-family: Montserrat;
}

.button_modals {
  height: 50px;
  background: #f31559 !important;
  font-family: Montserrat !important;
  border: none !important;
  font-weight: 600 !important;
}

.box_modals {
  transform: translateY(200px) !important;
  max-width: 35vw !important;
}

.box_modals div {
  border-radius: 20px !important;
}

.close_modals {
  display: flex;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.25);
  transform: translateX(565px);
}

.close_modals:hover {
  cursor: pointer;
}
