@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;700&display=swap');

:root {
  --primary: #f31559;
  --teks-primary: #061d4a;
}

.bg-boxs {
  display: flex;
  background: linear-gradient(0deg, #fbe5e5 0%, rgba(255, 255, 255, 0) 114.56%);
}

.judul-title {
  color: #000;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.logo-cervicare {
  width: 250px;
  height: 56px;
}

.boxs-layanan {
  width: 590px;
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.button_mulai {
  border-radius: 20px;
  border: none !important;
  background-color: #f31559 !important;
  box-shadow: 0px 0px 10px 0px #f31559;
}

.button_mulai:hover {
  background-color: #c6053f !important;
}

.foto-docter {
  height: 533px;
  margin-top: -330px;
  float: right;
  position: relative;
}

.bg-boxs-2 {
  height: 144px;
  margin-top: -144px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.card-ceritakan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-merah {
  color: var(--primary);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.title-deskripsi {
  color: var(--teks-primary);
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}

.text-title-chat-live {
  color: var(--teks-primary);
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.card-bungkus-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-image {
  width: 335px;
  height: 468px;
  border-radius: 10px;
  background: var(--default, #fff);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.card-image-bayanan {
  width: 335px;
  height: 348px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(144deg, #f31559 -7.86%, #fbe5e5 98.78%);
}

.foto-img {
  height: 324px;
}

.name-docter {
  color: var(--teks-primary);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.name-docter:hover {
  color: var(--primary);
  transition: 0.1s;
}

.name-spesialis {
  color: var(--teks-primary);
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.review {
  color: #958c8c;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.fa-star {
  color: #f68924;
}

.button-banyak {
  border-radius: 10px;
  border: none !important;
  background: var(--primary) !important;
  font-family: Montserrat !important;
  font-weight: 500 !important;
}

.button-banyak:hover {
  background-color: #e40447 !important;
}

@media (max-width: 768px) {
  .foto-docter {
    width: 100%; /* Menggunakan lebar 100% untuk responsif */
    height: auto; /* Untuk memastikan aspek rasio gambar tetap terjaga */
    margin-top: -10px; /* Atur sesuai kebutuhan */
    margin-left: 0; /* Reset margin kiri */
  }

  .boxs-layanan {
    width: 100%; /* Menyesuaikan lebar pada resolusi mobile */
    margin-top: 20px; /* Atur sesuai kebutuhan */
  }

  .button_mulai {
    margin-top: 20px; /* Atur sesuai kebutuhan */
  }
}

.modalstext {
  text-align: center;
  font-family: Montserrat;
}

.button_modals {
  height: 50px;
  background: #f31559 !important;
  font-family: Montserrat !important;
  border: none !important;
  font-weight: 600 !important;
}

.box_modals {
  transform: translateY(200px) !important;
  max-width: 35vw !important;
}

.box_modals div {
  border-radius: 20px !important;
}

.close_modals {
  display: flex;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.25);
  transform: translateX(565px);
}
