@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;700&display=swap');

.image_layanan {
  transform: translateY(48px);
}

.header_bg_layanan {
  display: flex;
  background: #fbe5e5;
  background: linear-gradient(29deg, #fbf2e5, #fbe5e5);
}

.isi_layanan{
    display: flex;
    justify-content: center;
}

.title_faskes {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 45px;
}

.desc_faskes {
  font-family: Montserrat;
  font-size: 20px;
}

.card_faskes {
  border: none;
  box-shadow: 10px 10px 15px 1px rgba(134, 134, 134, 0.5);
}

.title_kes {
  font-family: Montserrat !important;
}

.desc_kes {
  font-family: Montserrat !important;
}

.text_fas {
  font-family: Montserrat !important;
}

.button_mulai_layanan {
  border-radius: 20px;
  font-weight: 600 !important;
  font-family: Montserrat !important;
  border: none !important;
  background-color: #f31559 !important;
}

.button_mulai_layanan:hover {
  background-color: #b30c3e !important;
}
